.header {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.difficultSetting {
  display: flex;
  gap: 3rem;
}

.level {
  color: #66aa33;
}

.adult {
  background-image: url();
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  margin: rem;
  height: 100px;
  width: 200px;
  color: black;
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.flip {
  --rotate-y: 180deg;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  padding: 1rem;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: .5rem;
  gap: .5rem;
}

.option {
  transition: 150ms;
  transform: translateY(var(--translate-y, 0));
  font-size: large;
}

.option:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  padding: 1rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  margin: .5rem;
}

.correct {
  background-color: #66aa33;
}

.wrong {
  background-color: red;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.progress {
  width: 50%;
  height: 30px;
  background: white;
  border-radius: 30px;
  overflow: hidden;
}

.progress_fill {
  width: 0%;
  height: 100%;
  background: #66aa33;
  transition: all .5s;
}
